.headpkt{
  text-align: center;
  padding: 15px;
  box-sizing: border-box!important;
  margin: 0!important;
  border-radius: 10px 10px 0 0;
}
.headpkt h3{
  font-weight: bold;
  margin: 0!important;
}

.grecaptcha-badge {display: none;}

.pktgold{
  background: #CFB53B;
}
.pktsilver{
  background: #C0C0C0;
}
.pktbronze{
  background: #CD7F32;
}
.navpkt{
  text-align: center;
  font-size: 16px;
  margin: 0!important;
  background: #2d2d2d;
  padding: 2px;
  color: #C0C0C0;
  box-sizing: border-box!important;
}
.it{
  padding: 7px;
  text-align: center;
  font-size: 16px;
}
.b_gold{
  border: 1px solid #CFB53B;
  border-top: 0!important;
  box-sizing: border-box!important;
}
.b_silver{
  border: 1px solid #C0C0C0;
  border-top: 0!important;
  box-sizing: border-box!important;
}
.b_bronze{
  border: 1px solid #CD7F32;
  border-top: 0!important;
  box-sizing: border-box!important;
}
.orderpkt{
  border-radius: 0 0 10px 10px;
  padding: 5px;
  align-items: center;
}
.btnpkt{
  min-width: 150px;
  padding: 7px!important;
  font-size: 16px;
}
.btn-gold{
  font-weight: bold!important;
  color: #444;
  background: #CFB53B;
}
.btn-silver{
  font-weight: bold!important;
  color: #444;
  background: #C0C0C0;
}

.btn-bronze{
  font-weight: bold!important;
  color: #444;
  background: #CD7F32;
}

#order-summary{
  max-width: 49%!important;
}
